.hero {
  padding: 65px 0 168px;
  &__title {
    margin-bottom: 53px;
    max-width: 959px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include tablet {
      margin-bottom: 60px;
      text-align: center;
    }
  }

  &__subtitle {
    margin-bottom: 128px;

    @include tablet {
      margin-bottom: 95px;
      text-align: center;
      justify-content: center;
    }

    @include mobile {
      margin-bottom: 0;
    }
  }

  &__switch {
    @include flex-align-center;
    gap: 16px;
    margin-bottom: 80px;

    &-item {
      padding: 10px 14px;
    }

    &-link {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      color: var(--neutral-color-150);

      &--active {
        font-weight: 600;
        line-height: 1.5;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: var(--neutral-color-100);
      }
    }
  }

  &__slider {
    &-wrapper {
      width: 1335px;

      @include mini-desktop {
        width: 1100px;
      }

      @include tablet {
        width: auto;
      }

      @include mobile {
        display: none;
      }
    }

    &-hidden{
      display: none;
    }

    &-controls {
      @include flex-all-center;
      position: absolute;
      top: 107px;
      left: 530px;
      z-index: var(--z-index-2);
      transform: translateX(-50%);
      border-radius: 33%;
      background-color: #fff;

      @include mini-desktop {
        left: 38%;
      }

      @include tablet {
        display: none;
      }
    }

    &-prev,
    &-next {
      @include flex-all-center;
      width: 40px;
      height: 80px;
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
      background-color: #fff;
      justify-content: end;
      transition: all var(--transition);
    }

    &-prev {
      &:hover {
        transform: translateX(-16px);
        justify-content: center;
      }
    }

    &-next {
      transform: scale(-1, -1);

      &:hover {
        transform: scale(-1, -1) translateX(-16px);
        justify-content: center;
      }
    }
  }

  &__article {
    max-width: 515px;

    &-img {
      margin-bottom: 16px;
    }

    &-head {
      @include flex-all-between;
      margin-bottom: 16px;
      font-weight: 400;
      line-height: 1.5;
      color: var(--neutral-color-150);
    }

    &-author {
      font-style: normal;
    }

    &-title {
      margin-bottom: 16px;
      font-weight: 700;
      line-height: 1.25;
      letter-spacing: -0.03em;
      color: var(--neutral-color-100);
    }

    &-text {
      max-width: 464px;
      font-weight: 500;
      font-size: 20px;
      line-height: 1.5;
      color: var(--neutral-color-150);
    }
  }
}
