<section class="hero">
  <div class="container hero__container">
    <h2 class="hero__title heading-h1">
      Everything you need to get <br />
      attention of your <br />audience
    </h2>
    <p class="hero__subtitle text-p-subtitle">
      Our digital agency helps clients develop, <br />
      implement and maintain successful digital <br />
      marketing strategies across all channels. Also <br />
      work with you to build your website and create <br />
      online businesses that grow.
    </p>
    <a href="#" class="hero__circle">
      <div class="hero__circle-text" id="circle-text">
        <span> get in touch ·</span>
        <span>get in touch ·</span>
        <span>get in touch ·</span>
      </div>
      <svg
        width="59"
        height="59"
        viewBox="0 0 59 59"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          x="15.0283"
          y="46.4426"
          width="3.85427"
          height="41.4334"
          transform="rotate(-135 15.0283 46.4426)"
          fill="white"
        />
        <rect
          x="17.8916"
          y="17.9634"
          width="3.85427"
          height="26.9799"
          transform="rotate(-90 17.8916 17.9634)"
          fill="white"
        />
        <rect
          x="44.8916"
          y="41.1089"
          width="3.85427"
          height="26.9799"
          transform="rotate(180 44.8916 41.1089)"
          fill="white"
        />
      </svg>
    </a>

    <div class="hero__slider-wrapper">
      <div class="swiper hero__slider">
        <div class="swiper-wrapper">
          <div class="hero__slider-article swiper-slide">
            <img
              loading="lazy"
              width="502"
              height="632"
              src="./assets/img/decore/about/about-hero-swiper-1.jpg"
              alt="Man work in macboock"
            />
          </div>
          <div class="hero__slider-article swiper-slide">
            <img
              loading="lazy"
              width="502"
              src="./assets/img/decore/about/about-hero-swiper-2.jpg"
              alt="Presentation for a group of people"
            />
            <h3 class="hero__slider-article-title heading-h5">
              What we believe in
            </h3>
            <p class="hero__article-descr text-p-medium">
              Over the years at Sans, we’ve put a lot of thought into what it is
              that makes us who we are. The qualities that unite us, that make
              us such an effective team, and...
            </p>
            <button class="hero__slider-article-btn button-form">
              See Details ->
            </button>
          </div>
          <div class="hero__slider-article swiper-slide">
            <img
              loading="lazy"
              width="502"
              height="629"
              src="./assets/img/decore/about/about-hero-swiper-5.jpg"
              alt="Man work in macboock"
            />
          </div>
          <div class="hero__slider-article swiper-slide">
            <img
              loading="lazy"
              width="502"
              src="./assets/img/decore/about/about-hero-swiper-4.jpg"
              alt="Presentation for a group of people"
            />
            <h3 class="hero__slider-article-title heading-h5">
              Lorem ipsum dolor sit.
            </h3>
            <p class="hero__slider-article-descr text-p-medium">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Cupiditate dolores quos voluptate nostrum distinctio incidunt!...
            </p>
            <button class="hero__slider-article-btn button-form">
              See Details ->
            </button>
          </div>
          <div class="hero__slider-article swiper-slide">
            <img
              loading="lazy"
              width="502"
              src="./assets/img/decore/about/about-hero-swiper-3.jpg"
              alt="Work in laptop"
            />
          </div>
        </div>

        <div class="hero__slider-controls">
          <button class="hero__slider-prev">
            <img
              src="./assets/img/icons/arrow-slider.svg"
              alt="Icon for prev slide"
            />
          </button>
          <button class="hero__slider-next">
            <img
              src="./assets/img/icons/arrow-slider.svg"
              alt="Icon for next slide"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
