.content {
  padding: 120px 0;
  background: var(--black-bg-color);

  &__container {
    display: flex;
    gap: 32px;

    @include small-tablet {
      flex-direction: column;
    }
  }
  &__column {
    @include flex-column;
    gap: 159px;
  }

  &__article {
    @include flex-column;
    gap: 24px;

    @include small-tablet {
      align-items: center;
    }

    &-title {
      font-weight: 600;
      line-height: 1.2;
      color: #fff;
      transition: text-decoration var(--transition);

      &:hover {
        text-decoration: underline;
      }
    }

    &-text {
      font-weight: 500;
      line-height: 1.77778;
      color: var(--neutral-color-150);
    }

    &:last-child {
      @include small-tablet {
        display: none;
      }
    }
  }
}
