<section class="content">
  <div class="container content__container">
    <div class="content__column">
      <div class="content__article">
        <img
          loading="lazy"
          height="751"
          width="584"
          src="./assets/img/decore/blog/content-img-1.jpg"
          alt="Worspace"
        />
        <a href="./blog-article.html" class="content__article-link">
          <h4 class="content__article-title heading-h3">
            How we perform long-running tasks using AWS services
          </h4>
        </a>

        <p class="content__article-text text-p-medium">
          Webflow is web design tool as well as a hosting platform and CMS all
          in one. While you are probably familiar with all of these, they are
          usually entirely separate tools.
        </p>
      </div>
      <div class="content__article">
        <img
          loading="lazy"
          height="507"
          width="548"
          src="./assets/img/decore/blog/content-img-2.jpg"
          alt="Worspace"
        />
        <a href="#" class="content__article-link">
          <h4 class="content__article-title heading-h3">
            Layout Exploration — Simple exercise but big effect
          </h4>
        </a>
        <p class="content__article-text text-p-medium">
          Make alternatives or other options for the design we are making. For
          example, we are creating a website design. Then there is the
          testimonial section.
        </p>
      </div>
    </div>
    <div class="content__column">
      <div class="content__article">
        <img
          loading="lazy"
          height="507"
          width="584"
          src="./assets/img/decore/blog/content-img-3.jpg"
          alt="Worspace"
        />
        <a href="#" class="content__article-link">
          <h4 class="content__article-title heading-h3">
            How to ask when doing User Research
          </h4>
        </a>
        <p class="content__article-text text-p-medium">
          Bro, the story is that you want to make an application for buying and
          selling goods on the market. During user research, what do you think
          you will ask people?
        </p>
      </div>
      <div class="content__article">
        <img
          loading="lazy"
          height="751"
          width="584"
          src="./assets/img/decore/blog/content-img-1.jpg"
          alt="Worspace"
        />
        <a href="#" class="content__article-link">
          <h4 class="content__article-title heading-h3">
            Webflow Break the Coding Barrier
          </h4>
        </a>
        <p class="content__article-text text-p-medium">
          Webflow is web design tool as well as a hosting platform and CMS all
          in one. While you are probably familiar with all of these, they are
          usually entirely separate tools.
        </p>
      </div>
    </div>
  </div>
</section>
