<section class="hero hero-decor">
  <div class="container hero__container">
    <h2 class="hero__title heading-h1">Activity & Updates</h2>
    <p class="hero__subtitle text-p-subtitle">
      Our biggest challenge is making sure we're <br />
      always designing and building products that <br />
      will help you run your business better.
    </p>

    <ul class="hero__switch">
      <li class="hero__switch-item">
        <a
          href="#View-all"
          class="hero__switch-link text-p-default hero__switch-link--active"
        >
          View all
        </a>
      </li>
      <li class="hero__switch-item">
        <a href="#Design" class="hero__switch-link text-p-default"> Design </a>
      </li>
      <li class="hero__switch-item">
        <a href="#Articles" class="hero__switch-link text-p-default">
          Articles
        </a>
      </li>
      <li class="hero__switch-item">
        <a href="#Product" class="hero__switch-link text-p-default">
          Product
        </a>
      </li>
      <li class="hero__switch-item">
        <a href="#Software" class="hero__switch-link text-p-default">
          Software Development
        </a>
      </li>
      <li class="hero__switch-item">
        <a href="#Customer" class="hero__switch-link text-p-default">
          Customer Success
        </a>
      </li>
    </ul>

    <div class="hero__slider-wrapper">
      <div class="swiper hero__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide hero__article">
            <img
              class="hero__article-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/img/decore/blog/swiper-img-1.jpg"
              alt="Girl with the cup at the laptop"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </div>
              <address class="hero__article-author">by : Albert Sans</address>
            </div>
            <h3 class="hero__article-title heading-h5">
              Practice making User Flow
            </h3>
            <p class="hero__article-text">
              In this article, we'll cover how to <br />
              create user flows
            </p>
          </div>

          <div class="swiper-slide hero__article">
            <img
              class="hero__article-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/img/decore/blog/swiper-img-2.jpg"
              alt="Two women in laptop"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </div>
              <address class="hero__article-author">by : Albert Sans</address>
            </div>
            <h3 class="hero__article-title heading-h5">
              Overview of the Design Principles
            </h3>
            <p class="hero__article-text">
              What are Design Principles?… To understand design principles, we
              first discuss the principles.
            </p>
          </div>

          <div class="swiper-slide hero__article">
            <img
              class="hero__article-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/img/decore/blog/swiper-img-3.jpg"
              alt="Two people shake hands"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </div>
              <address class="hero__article-author">by : Albert Sans</address>
            </div>
            <h3 class="hero__article-title heading-h5">
              Using Grid in website design
            </h3>
            <p class="hero__article-text">
              Andi: "What's the grid like?" Toni: “Like below…”
            </p>
          </div>

          <div class="swiper-slide hero__article">
            <img
              class="hero__article-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/img/decore/blog/swiper-img-4.jpg"
              alt="The handshake of two people"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </div>
              <address class="hero__article-author">by : Albert Sans</address>
            </div>
            <h3 class="hero__article-title heading-h5">Lorem, ipsum dolor.</h3>
            <p class="hero__article-text">
              Lorem ipsum, dolor sit amet consectetur adipisicing.
            </p>
          </div>

          <div class="swiper-slide hero__article" id="Design">
            <img
              class="hero__article-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/img/decore/blog/swiper-design-img.jpg"
              alt="lorem img"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </div>
              <address class="hero__article-author">by : Ai</address>
            </div>
            <h3 class="hero__article-title heading-h5">Lorem, ipsum dolor.</h3>
            <p class="hero__article-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing.
            </p>
          </div>

          <div class="swiper-slide hero__article" id="Software">
            <img
              class="hero__article-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/img/decore/blog/swiper-software-img.jpg"
              alt="lorem img"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </div>
              <address class="hero__article-author">by : Ai</address>
            </div>
            <h3 class="hero__article-title heading-h5">Lorem, ipsum dolor.</h3>
            <p class="hero__article-text">Lorem ipsum dolor sit.</p>
          </div>

          <div class="swiper-slide hero__article" id="Customer">
            <img
              class="hero__article-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/img/decore/blog/swiper-customer-img.jpg"
              alt="lorem img"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </div>
              <address class="hero__article-author">by : Ai</address>
            </div>
            <h3 class="hero__article-title heading-h5">Lorem, ipsum dolor.</h3>
            <p class="hero__article-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing.
            </p>
          </div>

          <div class="swiper-slide hero__article" id="Articles">
            <img
              class="hero__article-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/img/decore/blog/swiper-articles-img.jpg"
              alt="lorem img"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </div>
              <address class="hero__article-author">by : Ai</address>
            </div>
            <h3 class="hero__article-title heading-h5">Lorem, ipsum dolor.</h3>
            <p class="hero__article-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing.
            </p>
          </div>

          <div class="swiper-slide hero__article" id="Product">
            <img
              class="hero__article-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/img/decore/blog/swiper-product-img.jpg"
              alt="lorem img"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </div>
              <address class="hero__article-author">by : Ai</address>
            </div>
            <h3 class="hero__article-title heading-h5">Lorem, ipsum dolor.</h3>
            <p class="hero__article-text">Lorem ipsum dolor sit.</p>
          </div>

          <div class="swiper-slide hero__article" id="Software">
            <img
              class="hero__article-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/img/decore/blog/swiper-software-img.jpg"
              alt="lorem img"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </div>
              <address class="hero__article-author">by : Ai</address>
            </div>
            <h3 class="hero__article-title heading-h5">Lorem, ipsum dolor.</h3>
            <p class="hero__article-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing.
            </p>
          </div>

          <div class="swiper-slide hero__article" id="Design">
            <img
              class="hero__article-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/img/decore/blog/swiper-design-img.jpg"
              alt="lorem img"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </div>
              <address class="hero__article-author">by : Ai</address>
            </div>
            <h3 class="hero__article-title heading-h5">Lorem, ipsum dolor.</h3>
            <p class="hero__article-text">Lorem ipsum dolor sit.</p>
          </div>

          <div class="swiper-slide hero__article" id="Product">
            <img
              class="hero__article-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/img/decore/blog/swiper-product-img.jpg"
              alt="lorem img"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </div>
              <address class="hero__article-author">by : Ai</address>
            </div>
            <h3 class="hero__article-title heading-h5">
              Lorem ipsum dolor sit.
            </h3>
            <p class="hero__article-text">Lorem ipsum dolor sit.</p>
          </div>

          <div class="swiper-slide hero__article" id="Customer">
            <img
              class="hero__article-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/img/decore/blog/swiper-customer-img.jpg"
              alt="lorem img"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </div>
              <address class="hero__article-author">by : Ai</address>
            </div>
            <h3 class="hero__article-title heading-h5">
              Lorem ipsum dolor sit amet consectetur.
            </h3>
            <p class="hero__article-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>

          <div class="swiper-slide hero__article" id="Design">
            <img
              class="hero__article-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/img/decore/blog/swiper-design-img.jpg"
              alt="lorem img"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </div>
              <address class="hero__article-author">by : Ai</address>
            </div>
            <h3 class="hero__article-title heading-h5">Lorem, ipsum dolor.</h3>
            <p class="hero__article-text">Lorem ipsum dolor sit.</p>
          </div>

          <div class="swiper-slide hero__article" id="Articles">
            <img
              class="hero__article-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/img/decore/blog/swiper-articles-img.jpg"
              alt="lorem img"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </div>
              <address class="hero__article-author">by : Ai</address>
            </div>
            <h3 class="hero__article-title heading-h5">
              Lorem ipsum dolor sit.
            </h3>
            <p class="hero__article-text">Lorem ipsum dolor sit.</p>
          </div>

          <div class="swiper-slide hero__article" id="Product">
            <img
              class="hero__article-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/img/decore/blog/swiper-product-img.jpg"
              alt="lorem img"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </div>
              <address class="hero__article-author">by : Ai</address>
            </div>
            <h3 class="hero__article-title heading-h5">
              Lorem ipsum dolor sit amet consectetur.
            </h3>
            <p class="hero__article-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>

          <div class="swiper-slide hero__article" id="Design">
            <img
              class="hero__article-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/img/decore/blog/swiper-design-img.jpg"
              alt="lorem img"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </div>
              <address class="hero__article-author">by : Ai</address>
            </div>
            <h3 class="hero__article-title heading-h5">
              Lorem ipsum dolor sit amet consectetur.
            </h3>
            <p class="hero__article-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>

          <div class="swiper-slide hero__article" id="Customer">
            <img
              class="hero__article-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/img/decore/blog/swiper-customer-img.jpg"
              alt="lorem img"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </div>
              <address class="hero__article-author">by : Ai</address>
            </div>
            <h3 class="hero__article-title heading-h5">
              Lorem ipsum dolor sit.
            </h3>
            <p class="hero__article-text">Lorem ipsum dolor sit.</p>
          </div>

          <div class="swiper-slide hero__article" id="Articles">
            <img
              class="hero__article-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/img/decore/blog/swiper-articles-img.jpg"
              alt="lorem img"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </div>
              <address class="hero__article-author">by : Ai</address>
            </div>
            <h3 class="hero__article-title heading-h5">
              Lorem ipsum dolor sit amet consectetur.
            </h3>
            <p class="hero__article-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>

          <div class="swiper-slide hero__article" id="Software">
            <img
              class="hero__article-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/img/decore/blog/swiper-software-img.jpg"
              alt="lorem img"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </div>
              <address class="hero__article-author">by : Ai</address>
            </div>
            <h3 class="hero__article-title heading-h5">
              Lorem ipsum dolor sit.
            </h3>
            <p class="hero__article-text">Lorem ipsum dolor sit.</p>
          </div>

          <div class="swiper-slide hero__article" id="Product">
            <img
              class="hero__article-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/img/decore/blog/swiper-product-img.jpg"
              alt="lorem img"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </div>
              <address class="hero__article-author">by : Ai</address>
            </div>
            <h3 class="hero__article-title heading-h5">Lorem, ipsum dolor.</h3>
            <p class="hero__article-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing.
            </p>
          </div>

          <div class="swiper-slide hero__article" id="Articles">
            <img
              class="hero__article-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/img/decore/blog/swiper-articles-img.jpg"
              alt="lorem img"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </div>
              <address class="hero__article-author">by : Ai</address>
            </div>
            <h3 class="hero__article-title heading-h5">Lorem, ipsum dolor.</h3>
            <p class="hero__article-text">Lorem ipsum dolor sit.</p>
          </div>

          <div class="swiper-slide hero__article" id="Software">
            <img
              class="hero__article-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/img/decore/blog/swiper-software-img.jpg"
              alt="lorem img"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </div>
              <address class="hero__article-author">by : Ai</address>
            </div>
            <h3 class="hero__article-title heading-h5">
              Lorem ipsum dolor sit amet consectetur.
            </h3>
            <p class="hero__article-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>

          <div class="swiper-slide hero__article" id="Customer">
            <img
              class="hero__article-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/img/decore/blog/swiper-customer-img.jpg"
              alt="lorem img"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </div>
              <address class="hero__article-author">by : Ai</address>
            </div>
            <h3 class="hero__article-title heading-h5">Lorem, ipsum dolor.</h3>
            <p class="hero__article-text">Lorem ipsum dolor sit.</p>
          </div>

          <div class="swiper-slide hero__article">
            <img
              class="hero__article-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/img/decore/blog/swiper-img-5.jpg"
              alt="Team building"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </div>
              <address class="hero__article-author">by : Albert Sans</address>
            </div>
            <h3 class="hero__article-title heading-h5">
              Our team is the most friendly
            </h3>
            <p class="hero__article-text">One for all, all for one</p>
          </div>
        </div>

        <div class="hero__slider-controls">
          <button class="hero__slider-prev">
            <img
              src="./assets/img/icons/arrow-slider.svg"
              alt="Icon for prev slide"
            />
          </button>
          <button class="hero__slider-next">
            <img
              src="./assets/img/icons/arrow-slider.svg"
              alt="Icon for next slide"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
