.hero {
  &__container {
    padding: 80px 0 160px;
    max-width: 940px;

    @include tablet {
      max-width: 640px;
      padding: 40px var(--container-padding) 80px;
    }
  }

  &__title {
    margin-bottom: 48px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include small-tablet {
      font-size: 60px;
      text-align: center;
    }

    @include mobile {
      font-size: 48px;
      margin-bottom: 38px;
    }

    @include small-mobile {
      font-size: 38px;
      margin-bottom: 30px;
    }
  }

  &__top {
    margin-bottom: 56px;

    &-info {
      @include flex-all-between;
      padding-top: 32px;
      margin-bottom: 24px;
      gap: 50px;

      @include tablet {
        align-items: flex-end;
      }

      @include small-tablet {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
      }
    }

    &-author {
      @include flex-align-center;
      gap: 25px;
      min-width: 280px;

      &-name {
        margin-bottom: 4px;
        font-weight: 600;
        line-height: 1.44444;
        color: var(--neutral-color-100);
      }

      &-job {
        font-weight: 500;
        line-height: 1.625;
        color: var(--neutral-color-150);
      }

      &-img {
        @include small-mobile {
          display: none;
        }
      }
    }

    &-descr {
      font-weight: 500;
      line-height: 1.5;
      color: var(--neutral-color-150);
    }
  }

  &__img {
    margin-bottom: 80px;

    @include tablet {
      display: block;
      max-width: 100%;
      margin: 0 auto 80px;
    }

    @include small-tablet {
      margin-bottom: 60px;
    }
  }

  &__text {
    font-weight: 400;
    line-height: 1.77778;
    color: var(--neutral-color-100);
  }

  &__bottom {
    &-subtitle {
      margin-bottom: 24px;
      font-weight: 600;
      line-height: 1.2;
      color: var(--neutral-color-140);
    }

    &-author {
      display: flex;
      align-items: flex-start;
      padding-top: 56px;
      gap: 48px;

      @include small-tablet {
        gap: 38px;
      }

      @include mobile {
        position: relative;
      }

      &-img {
        @include small-tablet {
          width: 150px;

          @include mobile {
            position: absolute;
            display: block;
            right: var(--container-padding);
            top: 15%;
            width: 25%;
          }

          @include small-mobile {
            display: none;
          }
        }
      }

      &-descr {
        width: 645px;
      }

      &-name {
        @include flex-column;
        gap: 16px;
        margin-bottom: 16px;
        font-weight: 600;
        font-size: 32px;
        line-height: 1.3125;
        letter-spacing: -0.03em;
        color: var(--neutral-color-100);

        @include mobile {
          gap: 0;
          font-size: 28px;
        }

        &::before {
          content: 'Written by';
          font-weight: 400;
          font-size: 16px;
          line-height: 1.5;
          color: #7e8492;
        }

        &::after {
          content: 'Product Designer, Quotient';
          font-weight: 500;
          font-size: 16px;
          line-height: 1.625;
          color: #7e8492;
        }
      }

      &-comment {
        font-weight: 400;
        line-height: 1.77778;
        color: var(--neutral-color-100);

        @include tablet {
          font-size: 16px;
        }
      }
    }

    &-social {
      &-list {
        @include flex-align-center;
        margin-bottom: 14px;
        gap: 32px;

        @include mini-desktop {
          gap: 18px;
        }

        &::after {
          content: 'Share this article';
          font-weight: 500;
          font-size: 16px;
          line-height: 1.625;
          color: var(--neutral-color-100);

          @include small-tablet {
            display: none;
          }
        }
      }

      &-item svg path {
        fill: var(--neutral-color-100);
      }
    }
  }
}
