.testimonials {
  padding: 69px 0 160px;

  @include mobile {
    padding: 39px 0 70px;
  }

  &__head {
    @include flex-all-between;
    margin-bottom: 48px;

    @include tablet {
      flex-direction: column;
      text-align: center;
      gap: 24px;
    }
    @include mobile {
      gap: 12px;
      margin-bottom: 40px;
    }
  }

  &__title {
    max-width: 530px;
    font-weight: 600;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include tablet {
      max-width: 650px;
    }
  }

  &__descr {
    max-width: 376px;

    font-weight: 500;
    line-height: 1.78;
    color: var(--neutral-color-150);

    @include tablet {
      max-width: 450px;
    }
  }

  &__rating {
    @include flex-align-center;
    gap: 8px;
    margin-bottom: 19px;

    &-num {
      font-weight: 500;
      line-height: 1.62;
      color: var(--neutral-color-100);
    }
  }

  &__slider-wrapper {
    &::before {
      content: '';
      display: inline-block;
      width: 115px;
      height: 77px;
      background: url(../img/icons/quotes.svg);
      transform: translateY(15px);

      @include mini-desktop {
        transform: translateY(-5px);
      }

      @include mobile {
        display: none;
      }
    }
  }

  &__slider {
    max-width: 898px;
  }

  &__comment {
    &-text {
      font-weight: 500;
      margin-bottom: 40px;
      font-size: 40px;
      line-height: 1.3;
      letter-spacing: -0.03em;
      color: var(--neutral-color-100);
    }

    &-author {
      @include flex-align-center;
      gap: 24px;
      font-style: normal;

      &-avatar {
        overflow: hidden;
        border-radius: 50%;
      }

      &-name {
        font-weight: 600;
        line-height: 1.44;
        color: var(--neutral-color-100);
      }

      &-job {
        font-weight: 500;
        line-height: 1.62;
        color: var(--neutral-color-150);
      }
    }
  }

  &__controls {
    @include flex-align-center;
    justify-content: flex-end;
    gap: 16px;
    transform: translateY(-40px);

    @include mini-desktop {
      transform: translateY(5px);
    }
  }

  &__btn {
    @include flex-all-center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--neutral-color-100);
    border: var(--testimonials-border);
    transition: all var(--transition);

    @include small-mobile {
      width: 40px;
      height: 40px;
    }

    & svg {
      & path {
        fill: var(--arrow-testimonials-color);
      }
    }

    &:first-child {
      transform: rotate(180deg);
    }

    &.swiper-button-disabled {
      border: var(--disabled-testimonials-border);
      background-color: var(--disabled-testimonials-bg);
      cursor: auto;
      pointer-events: none;
      transition: all var(--transition);

      & svg {
        & path {
          fill: var(--disable-arrow-color);
        }
      }
    }

    &:hover {
      opacity: 0.3;
      transition: all var(--transition);
    }
  }
}
