<section class="testimonials">
  <div class="container testimonials__container">
    <div class="testimonials__head">
      <h2 class="testimonials__title heading-h2">
        What our customer are saying
      </h2>
      <p class="testimonials__descr text-p-medium">
        We are trusted numerous companies from different business to meet their
        needs
      </p>
    </div>
    <div class="testimonials__slider-wrapper">
      <div class="swiper testimonials__slider">
        <div class="swiper-wrapper testimonials__comments">
          <div class="swiper-slide testimonials__comment">
            <div class="testimonials__rating">
              <img
                loading="lazy"
                width="132"
                height="20"
                src="./assets/img/icons/rating-5.svg"
                alt="5 stars"
              />
              <span class="testimonials__raiting-num text-p-default">5.0</span>
            </div>
            <p class="testimonials__comment-text heading-h3">
              “With Agency the results are very satisfying. wrapped with Hight
              quality and innovative design that makes a surge of visitors on my
              website”
            </p>
            <address class="testimonials__comment-author">
              <img
                loading="lazy"
                width="56"
                h56="56"
                src="./assets/img/decore/testimonials-author-1.png"
                alt="Renee Wells"
                class="testimonials__comment-author-avatar"
              />
              <div class="testimonials__comment-author-info">
                <p class="testimonials__comment-author-name text-p-medium">
                  Renee Wells
                </p>
                <p class="testimonials__comment-author-job text-p-default">
                  Product Designer, Quotient
                </p>
              </div>
            </address>
          </div>
          <div class="swiper-slide testimonials__comment">
            <div class="testimonials__rating">
              <img
                loading="lazy"
                width="132"
                height="20"
                src="./assets/img/icons/rating-2.svg"
                alt="5 stars"
              />
              <span class="testimonials__raiting-num text-p-default">2.0</span>
            </div>
            <p class="testimonials__comment-text heading-h3">
              “Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi
              quam consectetur unde nihil alias libero animi enim maxime minus
              ex.”
            </p>
            <address class="testimonials__comment-author">
              <img
                loading="lazy"
                width="56"
                h56="56"
                src="./assets/img/decore/testimonials-author-2.png"
                alt="Tom Hanks"
                class="testimonials__comment-author-avatar"
              />
              <div class="testimonials__comment-author-info">
                <p class="testimonials__comment-author-name text-p-medium">
                  Tom Hanks
                </p>
                <p class="testimonials__comment-author-job text-p-default">
                  Product Designer
                </p>
              </div>
            </address>
          </div>
          <div class="swiper-slide testimonials__comment">
            <div class="testimonials__rating">
              <img
                loading="lazy"
                width="132"
                height="20"
                src="./assets/img/icons/rating-4.svg"
                alt="5 stars"
              />
              <span class="testimonials__raiting-num text-p-default">4.0</span>
            </div>
            <p class="testimonials__comment-text heading-h3">
              “Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nisi
              mollitia laborum deserunt.”
            </p>
            <address class="testimonials__comment-author">
              <img
                loading="lazy"
                width="56"
                h56="56"
                src="./assets/img/decore/testimonials-author-3.png"
                alt="Jeff Bridges"
                class="testimonials__comment-author-avatar"
              />
              <div class="testimonials__comment-author-info">
                <p class="testimonials__comment-author-name text-p-medium">
                  Jeff Bridges
                </p>
                <p class="testimonials__comment-author-job text-p-default">
                  Quotient
                </p>
              </div>
            </address>
          </div>
        </div>
      </div>
      <div class="testimonials__controls">
        <button class="testimonials__btn testimonials__btn--prev">
          <svg
            width="16"
            height="14"
            viewBox="0 0 16 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.26365 0.963677C8.61513 0.612205 9.18497 0.612205 9.53645 0.963677L14.9364 6.36368C15.2879 6.71515 15.2879 7.285 14.9364 7.63647L9.53645 13.0365C9.18497 13.3879 8.61513 13.3879 8.26365 13.0365C7.91218 12.685 7.91218 12.1151 8.26365 11.7637L12.1273 7.90007L1.70005 7.90007C1.20299 7.90007 0.800049 7.49713 0.800049 7.00007C0.800049 6.50302 1.20299 6.10007 1.70005 6.10007H12.1273L8.26365 2.23647C7.91218 1.885 7.91218 1.31515 8.26365 0.963677Z"
              fill="white"
            />
          </svg>
        </button>
        <button class="testimonials__btn testimonials__btn--next">
          <svg
            width="16"
            height="14"
            viewBox="0 0 16 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.26365 0.963677C8.61513 0.612205 9.18497 0.612205 9.53645 0.963677L14.9364 6.36368C15.2879 6.71515 15.2879 7.285 14.9364 7.63647L9.53645 13.0365C9.18497 13.3879 8.61513 13.3879 8.26365 13.0365C7.91218 12.685 7.91218 12.1151 8.26365 11.7637L12.1273 7.90007L1.70005 7.90007C1.20299 7.90007 0.800049 7.49713 0.800049 7.00007C0.800049 6.50302 1.20299 6.10007 1.70005 6.10007H12.1273L8.26365 2.23647C7.91218 1.885 7.91218 1.31515 8.26365 0.963677Z"
              fill="white"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
